.Rproj.user
.Rhistory
.RData

figures/correlation_matrix.jpg

output/SemRel Prosody Analyses.txt

output/SemRel Prosody Analyses.txt

figures/correlation_matrix.png

output/SemRel Prosody Analyses-Residuals.txt

*.png
